<h1>About Me</h1>

<hr>
<div class="row">
  
  <div class ="col-md-8">
    <h2>More About Me</h2>
    <p>I enjoy memes:</p>
  </div>
  
  <div class ="col-md-4">
    <%= image_tag "https://vignette4.wikia.nocookie.net/lazy-town4817/images/5/5e/Nick_Jr._LazyTown_Robbie_Rotten_1.png/revision/latest?cb=20161218032646", alt: "Profile Image" %>
  </div>
  
</div>
